In [16]:
import pandas as pd
from glob import glob
import seaborn as sns

In [17]:
demand_raw = sorted(glob('ALL_DEMAND_DATA/*.csv'))

demand = pd.concat((pd.read_csv(file)
           for file in demand_raw), ignore_index = True)
demand

        REGION       SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
0         NSW1     2000/01/01 00:30   6763.57000  15.64      TRADE
1         NSW1     2000/01/01 01:00   6386.10167  14.06      TRADE
2         NSW1     2000/01/01 01:30   5990.79500  14.30      TRADE
3         NSW1     2000/01/01 02:00   5655.97667  14.28      TRADE
4         NSW1     2000/01/01 02:30   5283.83667  14.17      TRADE
...        ...                  ...          ...    ...        ...
1658960   VIC1  2019/12/31 22:00:00   4129.96000  52.91      TRADE
1658961   VIC1  2019/12/31 22:30:00   4083.66000  58.66      TRADE
1658962   VIC1  2019/12/31 23:00:00   4104.95000  54.36      TRADE
1658963   VIC1  2019/12/31 23:30:00   4325.88000  66.87      TRADE
1658964   VIC1  2020/01/01 00:00:00   4372.27000  85.23      TRADE

[1658965 rows x 5 columns]

In [18]:
# All states data
demand = demand.rename({'SETTLEMENTDATE': 'Date'}, axis=1) 
demand = demand.drop(["PERIODTYPE"], axis = 1)
demand['Date']= pd.to_datetime(demand['Date'])
demand.set_index('Date', inplace=True)
demand

                    REGION  TOTALDEMAND    RRP
Date
2000-01-01 00:30:00   NSW1   6763.57000  15.64
2000-01-01 01:00:00   NSW1   6386.10167  14.06
2000-01-01 01:30:00   NSW1   5990.79500  14.30
2000-01-01 02:00:00   NSW1   5655.97667  14.28
2000-01-01 02:30:00   NSW1   5283.83667  14.17
...                    ...          ...    ...
2019-12-31 22:00:00   VIC1   4129.96000  52.91
2019-12-31 22:30:00   VIC1   4083.66000  58.66
2019-12-31 23:00:00   VIC1   4104.95000  54.36
2019-12-31 23:30:00   VIC1   4325.88000  66.87
2020-01-01 00:00:00   VIC1   4372.27000  85.23

[1658965 rows x 3 columns]

In [19]:
# My state data
demand_sa = demand[demand["REGION"]=='SA1']
demand_sa = demand_sa.drop(["REGION"], axis = 1)
demand_sa.rename({'TOTALDEMAND': 'Total Demand'}, axis=1, inplace = True)

In [20]:
demand_sa['year'] = demand_sa.index.year
demand_sa['month'] = demand_sa.index.month
demand_sa['day'] = demand_sa.index.day
demand_sa['hour'] = demand_sa.index.hour
demand_sa['minute'] = demand_sa.index.minute

Season = []

for i in range(len(demand_sa)):
    if demand_sa['month'][i] in [12,1,2]:
        Season.append("Summer")
    elif demand_sa['month'][i] in [3,4,5]:
        Season.append("Autumn")
    elif demand_sa['month'][i] in [6,7,8]:
        Season.append("Winter")
    elif demand_sa['month'][i] in [9,10,11]:
        Season.append("Spring")

demand_sa['Season'] = Season

demand_sa = demand_sa.loc['2000-01-01 01:30:00':'2019-12-31 23:30:00']

demand_sa

,Total Demand,RRP,year,month,day,hour,minute,Season
Date,,,,,,,,
2000-01-01 01:30:00,1275.12667,14.37,2000,1,1,1,30,Summer
2000-01-01 02:00:00,1181.72167,14.49,2000,1,1,2,0,Summer
2000-01-01 02:30:00,1105.05000,13.98,2000,1,1,2,30,Summer
2000-01-01 03:00:00,1031.22500,10.35,2000,1,1,3,0,Summer
2000-01-01 03:30:00,966.82667,5.27,2000,1,1,3,30,Summer
...,...,...,...,...,...,...,...,...
2019-12-31 21:30:00,1328.96000,63.35,2019,12,31,21,30,Summer
2019-12-31 22:00:00,1314.00000,57.12,2019,12,31,22,0,Summer
2019-12-31 22:30:00,1292.38000,61.83,2019,12,31,22,30,Summer
2019-12-31 23:00:00,1294.88000,57.42,2019,12,31,23,0,Summer
2019-12-31 23:30:00,1305.43000,68.58,2019,12,31,23,30,Summer

In [21]:
demand_sa.describe()

,Total Demand,RRP,year,month,day,hour,minute
count,350629.000000,350629.000000,350629.000000,350629.000000,350629.000000,350629.000000,350629.000000
mean,1443.218192,56.767766,2009.499260,6.518910,15.733927,11.500147,15.000043
std,307.583629,257.769361,5.766212,3.450078,8.795245,6.922122,15.000021
min,21.890000,-1000.000000,2000.000000,1.000000,1.000000,0.000000,0.000000
25%,1220.460000,24.920000,2004.000000,4.000000,8.000000,6.000000,0.000000
50%,1419.870000,35.340000,2009.000000,7.000000,16.000000,12.000000,30.000000
75%,1618.590000,56.090000,2014.000000,10.000000,23.000000,18.000000,30.000000
max,3385.420000,14700.000000,2019.000000,12.000000,31.000000,23.000000,30.000000

In [22]:
temp_files = ['Temperature Data\\HM01X_Data_023090_999999999743964.txt']

temp_raw = pd.concat((pd.read_table(file, sep=",", error_bad_lines=False)
           for file in temp_files), ignore_index = True)
temp_raw

C:\Users\Prana\anaconda3\lib\site-packages\pandas\core\reshape\concat.py:274: DtypeWarning: Columns (12,14,18,20,22,24,26,28,32) have mixed types.Specify dtype option on import or set low_memory=False.
  op = _Concatenator(

,hm,Station Number,Year Month Day Hour Minutes in YYYY,MM,DD,HH24,MI format in Local time,Year Month Day Hour Minutes in YYYY.1,MM.1,DD.1,...,Wind direction in degrees true,Wind direction quality,Speed of maximum windgust in last 10 minutes in km/h,Quality of speed of maximum windgust in last 10 minutes,Mean sea level pressure in hPa,Quality of mean sea level pressure,Station level pressure in hPa,Quality of station level pressure,AWS Flag,#
0,hm,23090,2000,1,1,1,0,2000,1,1,...,190,N,24.1,N,1018.9,N,1012.8,N,,#
1,hm,23090,2000,1,1,1,30,2000,1,1,...,200,N,16.6,N,1018.7,N,1012.6,N,,#
2,hm,23090,2000,1,1,2,0,2000,1,1,...,180,N,20.5,N,1018.5,N,1012.4,N,,#
3,hm,23090,2000,1,1,2,30,2000,1,1,...,170,N,18.4,N,1018.3,N,1012.2,N,,#
4,hm,23090,2000,1,1,3,0,2000,1,1,...,150,N,20.5,N,1018.3,N,1012.2,N,,#
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355901,hm,23090,2020,1,20,7,30,2020,1,20,...,240,N,14.8,N,1010.3,N,1004.4,N,1,#
355902,hm,23090,2020,1,20,8,0,2020,1,20,...,230,N,16.6,N,1010.4,N,1004.5,N,1,#
355903,hm,23090,2020,1,20,8,30,2020,1,20,...,210,N,29.5,N,1010.7,N,1004.8,N,1,#
355904,hm,23090,2020,1,20,9,0,2020,1,20,...,220,N,16.6,N,1011,N,1005.1,N,1,#
355905,hm,23090,2020,1,20,9,30,2020,1,20,...,230,N,16.6,N,1011.3,N,1005.4,N,1,#

In [23]:
# Goal: Checking to see which columns are uesless so we can drop them.

# Checking if the "Quality" columns are useful. 
for i in temp_raw.columns:
    strings = i.split()
    if strings[0] == 'Quality':
        print(temp_raw[i].unique())

# Checking to see if "AWS Flag", "#" and "hm" are useless.
print(temp_raw['#'].unique())      
print(temp_raw['hm'].unique())

['N' ' ']
['N' ' ']
['N' ' ']
['N' ' ']
['N' ' ']
['N' ' ']
['N' ' ']
['N' ' ']
['#']
['hm']

In [24]:
# Goal: Drop useless columns and rename columns to something nicer.

temp_cleaned = temp_raw.drop( ['hm',
                               'Year Month Day Hour Minutes in YYYY.1', 'MM.1', 'DD.1', 'HH24.1',
                               'MI format in Local standard time',
                               'Quality of precipitation since 9am local time',
                               'Quality of relative humidity',
                               'Wind speed quality', 
                               'Wind direction quality',
                               'Quality of speed of maximum windgust in last 10 minutes',
                               'Quality of mean sea level pressure',
                               'Quality of station level pressure',
                               'AWS Flag', # Just tells us how the measreument was taken (automatic, manned or hybrid)
                               '#', 
                               'Quality of air temperature',
                               'Quality of Wet bulb temperature',
                               'Quality of dew point temperature'], axis = 1)

temp_sa = temp_cleaned.rename({'Year Month Day Hour Minutes in YYYY': 'year', 
                                'MM':'month', 'DD':'day', 'HH24':'hour', 
                                'MI format in Local time':'minute',
                                'Precipitation since 9am local time in mm':'Percipitation (mm)',
                                'Air Temperature in degrees C': 'Air temperature (C)',
                                'Wet bulb temperature in degrees C': 'Wet Bulb temperature (C)',
                                'Dew point temperature in degrees C': 'Dew Point temperature (C)',
                                'Relative humidity in percentage %': 'Relative humidity (%)',
                                'Wind speed in km/h':'Wind speed (km/h)',
                                'Wind direction in degrees true': 'Wind direction (degrees)',
                                'Speed of maximum windgust in last 10 minutes in  km/h':'Max wind speed (km/h)',
                                'Mean sea level pressure in hPa': 'Sea level pressure (hPa)',
                                'Station level pressure in hPa': 'Station level pressure (hPa)'}, axis=1) 

temp_sa['Date'] = pd.to_datetime(temp_sa[['year', 'month', 'day', 'hour', 'minute']])
temp_sa = temp_sa.set_index('Date')
temp_sa

,Station Number,year,month,day,hour,minute,Percipitation (mm),Air temperature (C),Wet Bulb temperature (C),Dew Point temperature (C),Relative humidity (%),Wind speed (km/h),Wind direction (degrees),Max wind speed (km/h),Sea level pressure (hPa),Station level pressure (hPa)
Date,,,,,,,,,,,,,,,,
2000-01-01 01:00:00,23090,2000,1,1,1,0,0,13.1,10.0,6.6,65,14.8,190,24.1,1018.9,1012.8
2000-01-01 01:30:00,23090,2000,1,1,1,30,0,13.2,10.1,6.8,65,9.4,200,16.6,1018.7,1012.6
2000-01-01 02:00:00,23090,2000,1,1,2,0,0,13.4,10.1,6.5,63,13,180,20.5,1018.5,1012.4
2000-01-01 02:30:00,23090,2000,1,1,2,30,0,13.2,10.0,6.5,64,9.4,170,18.4,1018.3,1012.2
2000-01-01 03:00:00,23090,2000,1,1,3,0,0,13.0,9.7,6.0,62,11.2,150,20.5,1018.3,1012.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-20 07:30:00,23090,2020,1,20,7,30,9.4,15.1,14.6,14.2,94,7.6,240,14.8,1010.3,1004.4
2020-01-20 08:00:00,23090,2020,1,20,8,0,9.4,15.5,14.7,14.1,91,9.4,230,16.6,1010.4,1004.5
2020-01-20 08:30:00,23090,2020,1,20,8,30,9.4,15.7,14.8,14.1,90,11.2,210,29.5,1010.7,1004.8
2020-01-20 09:00:00,23090,2020,1,20,9,0,9.6,15.5,14.8,14.3,93,9.4,220,16.6,1011,1005.1
2020-01-20 09:30:00,23090,2020,1,20,9,30,0.0,15.6,15.0,14.6,94,9.4,230,16.6,1011.3,1005.4

In [27]:
Season = []

for i in range(len(temp_sa)):
    if temp_sa['month'][i] in [12,1,2]:
        Season.append("Summer")
    elif temp_sa['month'][i] in [3,4,5]:
        Season.append("Autumn")
    elif temp_sa['month'][i] in [6,7,8]:
        Season.append("Winter")
    elif temp_sa['month'][i] in [9,10,11]:
        Season.append("Spring")

temp_sa['Season'] = Season

temp_sa

,Station Number,year,month,day,hour,minute,Percipitation (mm),Air temperature (C),Wet Bulb temperature (C),Dew Point temperature (C),Relative humidity (%),Wind speed (km/h),Wind direction (degrees),Max wind speed (km/h),Sea level pressure (hPa),Station level pressure (hPa),Season
Date,,,,,,,,,,,,,,,,,
2000-01-01 01:00:00,23090,2000,1,1,1,0,0,13.1,10.0,6.6,65,14.8,190,24.1,1018.9,1012.8,Summer
2000-01-01 01:30:00,23090,2000,1,1,1,30,0,13.2,10.1,6.8,65,9.4,200,16.6,1018.7,1012.6,Summer
2000-01-01 02:00:00,23090,2000,1,1,2,0,0,13.4,10.1,6.5,63,13,180,20.5,1018.5,1012.4,Summer
2000-01-01 02:30:00,23090,2000,1,1,2,30,0,13.2,10.0,6.5,64,9.4,170,18.4,1018.3,1012.2,Summer
2000-01-01 03:00:00,23090,2000,1,1,3,0,0,13.0,9.7,6.0,62,11.2,150,20.5,1018.3,1012.2,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-20 07:30:00,23090,2020,1,20,7,30,9.4,15.1,14.6,14.2,94,7.6,240,14.8,1010.3,1004.4,Summer
2020-01-20 08:00:00,23090,2020,1,20,8,0,9.4,15.5,14.7,14.1,91,9.4,230,16.6,1010.4,1004.5,Summer
2020-01-20 08:30:00,23090,2020,1,20,8,30,9.4,15.7,14.8,14.1,90,11.2,210,29.5,1010.7,1004.8,Summer
2020-01-20 09:00:00,23090,2020,1,20,9,0,9.6,15.5,14.8,14.3,93,9.4,220,16.6,1011,1005.1,Summer
2020-01-20 09:30:00,23090,2020,1,20,9,30,0.0,15.6,15.0,14.6,94,9.4,230,16.6,1011.3,1005.4,Summer

In [29]:
# Goal: Find how many missing values per variable and convert everything into strings.
n = len(temp_sa)

columns = []
for column in temp_sa.columns:
    if column not in ['year', 'month', 'day', 'hour', 'minute', 'Season']:
        columns.append(column)

for c in columns:
    missing = 0
    temp_sa[c] = temp_sa[c].astype(str)
    for element in temp_sa[c]:
        if element.strip() == '':
            missing += 1
    print(c, " has", missing, " missing values.")

Station Number  has 0  missing values.
Percipitation (mm)  has 2744  missing values.
Air temperature (C)  has 358  missing values.
Wet Bulb temperature (C)  has 993  missing values.
Dew Point temperature (C)  has 414  missing values.
Relative humidity (%)  has 415  missing values.
Wind speed (km/h)  has 292  missing values.
Wind direction (degrees)  has 337  missing values.
Max wind speed (km/h)  has 8715  missing values.
Sea level pressure (hPa)  has 838  missing values.
Station level pressure (hPa)  has 885  missing values.

In [30]:
temp_sa2 = temp_sa.copy()

# Goal: Take out rows with empty strings and convert numeric variables to floats.

columns = []
for column in temp_sa2.columns:
    if column not in ['year', 'month', 'day', 'hour', 'minute', 'Season']:
        columns.append(column)

for column in columns:
    temp_sa2 = temp_sa2[[element.strip() != '' for element in temp_sa2[column]]]
    temp_sa2[column] = pd.to_numeric(temp_sa2[column], errors = 'raise')

temp_sa2

,Station Number,year,month,day,hour,minute,Percipitation (mm),Air temperature (C),Wet Bulb temperature (C),Dew Point temperature (C),Relative humidity (%),Wind speed (km/h),Wind direction (degrees),Max wind speed (km/h),Sea level pressure (hPa),Station level pressure (hPa),Season
Date,,,,,,,,,,,,,,,,,
2000-01-01 01:00:00,23090,2000,1,1,1,0,0.0,13.1,10.0,6.6,65,14.8,190,24.1,1018.9,1012.8,Summer
2000-01-01 01:30:00,23090,2000,1,1,1,30,0.0,13.2,10.1,6.8,65,9.4,200,16.6,1018.7,1012.6,Summer
2000-01-01 02:00:00,23090,2000,1,1,2,0,0.0,13.4,10.1,6.5,63,13.0,180,20.5,1018.5,1012.4,Summer
2000-01-01 02:30:00,23090,2000,1,1,2,30,0.0,13.2,10.0,6.5,64,9.4,170,18.4,1018.3,1012.2,Summer
2000-01-01 03:00:00,23090,2000,1,1,3,0,0.0,13.0,9.7,6.0,62,11.2,150,20.5,1018.3,1012.2,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-20 07:30:00,23090,2020,1,20,7,30,9.4,15.1,14.6,14.2,94,7.6,240,14.8,1010.3,1004.4,Summer
2020-01-20 08:00:00,23090,2020,1,20,8,0,9.4,15.5,14.7,14.1,91,9.4,230,16.6,1010.4,1004.5,Summer
2020-01-20 08:30:00,23090,2020,1,20,8,30,9.4,15.7,14.8,14.1,90,11.2,210,29.5,1010.7,1004.8,Summer
2020-01-20 09:00:00,23090,2020,1,20,9,0,9.6,15.5,14.8,14.3,93,9.4,220,16.6,1011.0,1005.1,Summer
2020-01-20 09:30:00,23090,2020,1,20,9,30,0.0,15.6,15.0,14.6,94,9.4,230,16.6,1011.3,1005.4,Summer

In [31]:
# Goal: Join temp_vic2 and demand_vic

# Remove one of the rows with duplicates columns (keep first occurrence):
temp_sa2 = temp_sa2[~temp_sa2.index.duplicated(keep='first')]
demand_sa = demand_sa[~demand_sa.index.duplicated(keep='first')]

# Join dataframes
sa_all = pd.concat([demand_sa.drop({'year', 'month', 'day', 'hour', 'minute','Season'}, axis = 1),
                 temp_sa2.drop({'year', 'month', 'day', 'hour', 'minute'}, axis = 1)],
                 axis=1, join="inner")

sa_all

,Total Demand,RRP,Station Number,Percipitation (mm),Air temperature (C),Wet Bulb temperature (C),Dew Point temperature (C),Relative humidity (%),Wind speed (km/h),Wind direction (degrees),Max wind speed (km/h),Sea level pressure (hPa),Station level pressure (hPa),Season
Date,,,,,,,,,,,,,,
2000-01-01 01:30:00,1275.12667,14.37,23090,0.0,13.2,10.1,6.8,65,9.4,200,16.6,1018.7,1012.6,Summer
2000-01-01 02:00:00,1181.72167,14.49,23090,0.0,13.4,10.1,6.5,63,13.0,180,20.5,1018.5,1012.4,Summer
2000-01-01 02:30:00,1105.05000,13.98,23090,0.0,13.2,10.0,6.5,64,9.4,170,18.4,1018.3,1012.2,Summer
2000-01-01 03:00:00,1031.22500,10.35,23090,0.0,13.0,9.7,6.0,62,11.2,150,20.5,1018.3,1012.2,Summer
2000-01-01 03:30:00,966.82667,5.27,23090,0.0,12.6,9.2,5.3,61,11.2,160,18.4,1018.3,1012.2,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 21:30:00,1328.96000,63.35,23090,0.0,18.2,12.6,7.0,48,9.4,140,18.4,1016.7,1010.7,Summer
2019-12-31 22:00:00,1314.00000,57.12,23090,0.0,17.7,12.4,7.1,50,7.6,150,13.0,1016.9,1010.9,Summer
2019-12-31 22:30:00,1292.38000,61.83,23090,0.0,17.4,12.2,7.0,50,7.6,140,13.0,1017.1,1011.1,Summer
2019-12-31 23:00:00,1294.88000,57.42,23090,0.0,17.2,12.1,6.9,51,7.6,140,13.0,1017.1,1011.1,Summer
2019-12-31 23:30:00,1305.43000,68.58,23090,0.0,16.8,12.2,7.7,55,5.4,110,11.2,1017.3,1011.3,Summer

https://www.w3schools.com/PYTHON/